Documents/Microsoft Press/Visual CSharp Step By Step/Chapter 29/ProductClient - Complete/ProductClient/Service References/ProductInformationService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HowMuchWillItCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element minOccurs="0" name="howMany" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HowMuchWillItCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HowMuchWillItCostResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>